body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.container{
    margin: 10px 100px 10px 100px;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    padding: 10px
}
.header{
   padding: 5px;
   overflow: auto;
}
.foot-justify{
    margin-top: 20px; 
    padding: 5px;
    border: 1px solid black;
   overflow: auto;
}
.image-header{
    widows: 120px;
    height: 60px;
    float: left;
}
.icon-search{
        widows: 30px;
    height: 30px;
}
.search{
    margin-left: 140px;
}
.input-search{
    width: 55%;
    padding: 10px;
    border-radius: 10px
}
.btn-search{
    width: 20%;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
.menu{
    margin: 30px 0 0 0;
}
.menu ul {
    background-color: #aaced8;
  list-style-type: none;
  text-align: center;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
.menu a {
    text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: block;
}
.menu a:hover {
  background: #F1F1F1;
  color: #333;
}
.name-item{
    margin-left: 40px;
}
.content{
     overflow: auto;
}
.hot-pro{
    overflow: auto;
}
.list-item{
    margin-left: 40px;
}
.sigle-item{
    margin-left: 15px;
    width: 28%;
    height: auto;
    border: 1px solid black;
    background: #aaced8;
    float: left;
    
}
.image-item{
    margin-left: 10px;  
    padding: 10px;
    widows: 130px;
    height: 180px;
}
.info-sigle-item{
    margin-left: 10px;
    font-weight: bold;
}
.name-sigle-item{
    margin-left: 50px;
    font-weight: bold;
}
.foot-justify{
    background-color: #aaced8;
    overflow: auto;
}
.foot-left{
    width: 45%;
    float: left;
}
.foot-left ul{
    list-style-type: none;
}
.foot-left li{
    padding: 1px;
}
.foot-right{
    margin-left: 300px;
    width: 45%;
}
.foot-right ul {
    list-style-type: none;
    text-align: center;
}
.foot-right li {
    color: #f1f1f1;
    display: inline-block;

}
.img-footer{
    margin-left: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
}